@model CreateExPaper
<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>
<div id="tab" class="tab-pane">
    <div class="panel-body">
        <div style="padding: 20px">

            @{
                ViewBag.Title = "Generate New Paper";
            }

            <h2>@ViewData["Title"]</h2>
            <br />
            <br />
            <div class="container">
                <div class="col-6">
                    <form asp-controller="ExercisePaper" asp-action="Create" method="post" class="form-horizontal" role="form">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label class="control-label col-5 text-right"><b>Exercise Paper Name : </b></label>
                                <div class="col-6">
                                    <input asp-for="Name" class="form-control" style="width: 150%" />
                                    @Html.ValidationMessageFor(d => d.Name, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-5 text-right"><b>Topics : </b></label>
                                <div class="col-6">
                                    <select asp-for="Topics" id="topics" class="form-control col-6" multiple="multiple" style="width: 150%"
                                            asp-items="@((SelectList)ViewData["topics"])">
                                    </select>
                                    @*@Html.DropDownListFor(m => m.Id, (SelectList)ViewData["topics"], htmlAttributes: new { @id = "topics", @class = "form-control form-select2 ", style = "width: 150%", multiple = "multiple" })*@
                                    @Html.ValidationMessageFor(d => d.Topics, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-5 text-right"><b>Open-Ended Questions: </b></label>
                                <div class="col-6">
                                    <input type="number" asp-for="OETotalQns" class="form-control" style="width: 50%" />
                                    @Html.ValidationMessageFor(d => d.OETotalQns, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-5 text-right"><b>Test Time: </b></label>
                                <div class="col-6">
                                    <input type="number" placeholder="(Minutes)" asp-for="Time" class="form-control" style="width: 50%" />
                                    @Html.ValidationMessageFor(d => d.Time, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-5 col-6 col-10">
                                    <input type="submit" value="Generate" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.form-select2').select2();

    $(document).ready(function () {
        $("#topics").select2({
            placeholder: "Select Topics (Searchable)"
        });
    });


</script>