@model List<OEQuestionsPaper>
@{
    ViewBag.Title = "Exercise Paper";
}

<div id="tab" class="tab-pane">
    <div class="panel-body">
        <div style="padding: 20px">
            <div class="row">
                <div class="col-6">
                    <form name="theForm" asp-controller="ExercisePaper" asp-action="GenerateExercisePaper" method="post" class="form-horizontal" role="form">
                        <div class="form" style="width: 1000px">
                            <br /><br />
                            <p class="header"><b>Python Open-Ended Questions</b></p>
                            <hr class="line" />

                            <div class="form-group row">
                                <label class="col-2 control-label text-sm-right"></label>
                                <div class="col-8">
                                    <br />
                                    <h2 style="text-align: center">@ViewData["ExercisePaperName"]</h2>
                                </div>
                            </div>
                            @{
                                var topicWord = "Topic";
                                if (ViewData["TopicsList"].ToString().Contains(","))
                                {
                                    topicWord = "Topics";
                                }
                            }

                            <div class="form-group row">
                                <label class="col-2 control-label text-sm-right"></label>
                                <div class="col-8">
                                    <p class="topics"><b>@topicWord: </b> <u>@ViewData["TopicsList"]_</u></p>
                                </div>
                            </div>
                            <br />
                            <hr class="line" />
                            <p id="timer" class="timer"></p>
                            <hr class="line" />
                            <br /><br />
                            @if (Model != null)
                            {
                                int k = 0;
                                @foreach (var item in Model)
                                {
                                    <div class="form-group row">
                                        <label class="col-2 control-label text-sm-right"></label>
                                        <div class="col-8">
                                            <div><b><u>Question @(k + 1)</u></b></div>
                                            <br />
                                            <div>
                                                <pre>
                                                @*@{ 
                                                    string space = "/\n/g";
                                                    var figure = item.Figure;
                                                    figure = figure.Replace("[space]", space);
                                                }*@                          
                                                
                                                @{
                                                    var figure = item.Figure;
                                                    if (figure.Contains("[comma]"))
                                                    {
                                                        figure.Replace("[comma]", ",");
                                                    }
                                                    if (figure.Contains("[nline]"))
                                                    {
                                                        var split = figure.Split("[nline]");
                                                        int counter = 0;
                                                        foreach (var i in split)
                                                        {
                                                            @split[counter]<br />







                                                            counter++;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @figure<br />







                                                    }
                                                }
                                            </pre>
                                            </div>
                                            <div>
                                                <pre class="calibriFont">
                                                @{
                                                    var question = item.Question;
                                                    if (question.Contains("[comma]"))
                                                    {
                                                        question.Replace("[comma]", ",");
                                                    }
                                                    if (question.Contains("[nline]"))
                                                    {
                                                        var split = question.Split("[nline]");
                                                        int counter = 0;
                                                        foreach (var i in split)
                                                        {
                                                            @split[counter]
                                                            counter++;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @question
                                                    }
                                                }
                                            </pre>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 control-label text-sm-right">Answer: </label>
                                        <div class="col-8">
                                            <input type="text" name="answer[@k]" id="answer" class="answer" /><br />
                                            @*Change to TextArea*@
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    k++;
                                }
                            }

                            <br />
                            <hr class="line" />
                            <br /><br />
                            <div class="form-group row">
                                <label class="col-2 control-label text-sm-right"></label>
                                <div class="col-8">
                                    <input style="background-color:dodgerblue; color:white" type="submit" value="Submit" class="btn btn-default" />
                                </div>
                            </div>
                            <div class="col-8">
                                <input type="text" name="exercisePaperId" value="@ViewData["exercisePaperId"]" hidden />
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <br /><br /><br />
        </div>
    </div>
</div>

<style>
    .calibriFont {
        font-family: 'Calibri';
        font-size: 18px
    }

    hr.line {
        border-top: 2px solid black;
        width: 800px;
        margin-top: 0px;
    }
    p.header {
        width: 900px;
        text-align: right;
        color: darkgray;
        margin-bottom: 0px;
    }
    p.topics {
        
        color: black;
        margin-bottom: 0px;
        font-size: 19px;
    }

    p.timer {
        text-align: center;
        font-size: 60px;
        margin-top: 0px;
    }
</style>

<script>


    $(document).ready(function () {

            
        
        
    });

    function ConfirmDelete() {
        if (confirm("Are you sure you want to delete?") == false) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        }
    }

    function timerEnd() {
        document.theForm.submit();
    }

    // Set the date we're counting down to
    var totalMins = 0.5;

    //1600 represents the compensation due to a delay, as the timer usually shows 3 seconds has passed even though
    //it actually counted down from the actual number. Remove if it is already accurate.
    var endTime = new Date().getTime() + (totalMins * 60000 + 1600);

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = endTime - now;
        // Time calculations for days, hours, minutes and seconds

        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        if (hours == 0) {
            document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
        }

        else {
            document.getElementById("timer").innerHTML = hours + "h "
                + minutes + "m " + seconds + "s ";
        }

        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            timerEnd();
        }
    }, 1000);


</script>

@*<div id="tab" class="tab-pane">
        <div class="panel-body">
            <div class="accordion" style="padding: 20px">
                <div class="row">
                    <div class="col-6">
                        <form asp-controller="ExercisePaper" asp-action="GenerateExercisePaper" method="post" class="form-horizontal" role="form">
                            <div class="form" style="width: 1000px">
                                <div class="form-group row">
                                    <label class="col-2 control-label text-sm-right"></label>
                                    <div class="col-8">
                                        <br /><br />
                                        <h2>Exercise Paper </h2>
                                        <br /><br />
                                    </div>
                                </div>

                                @if (Model != null)
                                {
                                    int k = 0;
                                    @foreach (var item in Model)
                                    {
                                        <div class="form-group row">
                                            <label class="col-2 control-label text-sm-right"></label>
                                            <div class="col-8">
                                                <div><b><u>Question @(k + 1)</u></b></div>
                                                <br />
                                                <div>@item.Figure</div>
                                                <br />
                                                <div>@item.Question</div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-2 control-label text-sm-right"></label>
                                            <div class="col-8">
                                                <input type="radio" name="ans[@k]" for="answer" id="answer" value="@item.Answer" /><label for="answer"> @item.Answer </label><br />
                                                <input type="radio" name="ans[@k]" for="answer" id="answer" value="@item.Option2" /><label for="answer"> @item.Option2 </label><br />
                                                <input type="radio" name="ans[@k]" for="answer" id="answer" value="@item.Option3" /><label for="answer"> @item.Option3 </label><br />
                                                <input type="radio" name="ans[@k]" for="answer" id="answer" value="@item.Option4" /><label for="answer"> @item.Option4 </label><br />
                                            </div>
                                        </div>
                                        <br />
                                        k++;
                                    }
                                }

                                <div class="form-group row">
                                    <label class="col-2 control-label text-sm-right"></label>
                                    <div class="col-8">
                                        <input style="background-color:dodgerblue; color:white" type="submit" value="Submit" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <br /><br /><br />
            </div>
        </div>
    </div>

    <style>
        input[type="radio"] {
            margin-right: 10px;
        }
    </style>*@