@model List<OEQuestionsPaper>
@{
    ViewBag.Title = "Exercise Paper";
}

<div id="tab" class="tab-pane">
    <div class="panel-body">
        <div style="padding: 20px">
            <div class="row">
                <div class="col-6">
                    
                        <div class="form" style="width: 1000px">
                            <br /><br />
                            <p class="header"><b>Python Open-Ended Questions</b></p>
                            <hr class="line" />

                            <div class="form-group row">
                                <label class="col-2 control-label text-sm-right"></label>
                                <div class="col-8">
                                    <br />
                                    <h2 style="text-align: center">@ViewData["ExercisePaperName"]</h2>
                                </div>
                            </div>
                            @{
                                var topicWord = "Topic";
                                if (ViewData["TopicsList"].ToString().Contains(","))
                                {
                                    topicWord = "Topics";
                                }
                            }

                            <div class="form-group row">
                                <label class="col-2 control-label text-sm-right"></label>
                                <div class="col-8">
                                    <p class="topics"><b>@topicWord: </b> <u>@ViewData["TopicsList"]_</u></p>
                                </div>
                            </div>
                            <br />
                            <hr class="line" />
                            <br /><br />
                            @if (Model != null)
                            {
                                int k = 0;
                                @foreach (var item in Model)
                                {
                                    <div class="form-group row">
                                        <label class="col-2 control-label text-sm-right"></label>
                                        <div class="col-8">
                                            <div><b><u>Question @(k + 1)</u></b></div>
                                            <br />
                                            <div>
                                                <pre>
                                                @{
                                                    var figure = item.Figure;
                                                    if (figure.Contains("[nline]"))
                                                    {
                                                        var split = figure.Split("[nline]");
                                                        int counter = 0;
                                                        foreach (var i in split)
                                                        {
                                                            @split[counter]<br />


                                                            counter++;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @figure<br />
                                                    }
                                                }
                                            </pre>
                                            </div>
                                            <div>
                                                <pre class="calibriFont">
                                                @{
                                                    var question = item.Question;
                                                    if (question.Contains("[nline]"))
                                                    {
                                                        var split = question.Split("[nline]");
                                                        int counter = 0;
                                                        foreach (var i in split)
                                                        {
                                                            @split[counter]
                                                            counter++;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @question
                                                    }
                                                }
                                            </pre>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 control-label text-sm-right">Answer: </label>
                                        <div class="col-8">
                                            <textarea rows="2" cols="100" class="form-control answer" style="width: 500px" name="answer[@k]" id="answer"></textarea> <br />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    k++;
                                }
                            }

                            <br />
                            <hr class="line" />
                            <br /><br />
                        </div>

                </div>
            </div>

            <br /><br /><br />
        </div>
    </div>
</div>

<style>
    .calibriFont {
        font-family: 'Calibri';
        font-size: 18px
    }

    hr.line {
        border-top: 2px solid black;
        width: 800px;
        margin-top: 0px;
    }
    p.header {
        width: 900px;
        text-align: right;
        color: darkgray;
        margin-bottom: 0px;
    }
    p.topics {
        
        color: black;
        margin-bottom: 0px;
        font-size: 19px;
    }

    p.timer {
        text-align: center;
        font-size: 60px;
        margin-top: 0px;
    }
</style>

<script>
</script>